<section class="section" >
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="box" style="border: 2px solid white; padding: 20px;">
                    <h1 class="title has-text-centered has-text-white">Sign Up</h1>
                    <form class="signup-form" action="/api/users" method="POST">
                        <div class="field">
                            <label class="label has-text-white">Username</label>
                            <div class="control">
                                <input class="input" type="text" id="username-signup" name="username" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-white">Email</label>
                            <div class="control">
                                <input class="input" type="email" id="email-signup" name="email" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-white">Password</label>
                            <div class="control">
                                <input class="input" type="password" id="password-signup" name="password" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/signup.js"></script>
